html {
  background-image:url("../img/041-01.jpg");
}

img {opacity:1;
}

img:hover{
  opacity:1.0;
}



.dog{
        display:inline;
         max-width: 80%;
         border-radius: 0%;
         align: center;
       }

       .flow{
               display:flow-root;

                align: center;
              }






body{
  text-align: center;
}

video{
  border-radius: 0%;
}
.common2{
  color: white ;
  font-size: 40px;
  background: black;
  border: 10px
  padding:40px;
  margin:60px;
  text-align:center;
  border-radius: 50%;
  font-family:cursive;
  }

  .common1{
    color: white ;
    font-size: 20px;
    background: black;
    border: 100px:
    padding:50px;
    margin:50px;
    text-align:center;
    border-radius: 0%;
    font-family:cursive;
    }
    .common{
      color: white ;
      font-size: 30px;
      background: black;
      border: 40px:
      padding:50px;
      margin:40px;
      align:left;
      border-radius: 60%;
      display: inline-block;
      font-family:cursive;


      }
